form {
    display: flex;
    justify-content: space-around;
}

form div {
    display: flex;
    gap: 5px;
}

form input {
    border-radius: 5px;
    border: none;
}

form button {
    border-radius: 5px;
    border: none;
    background: rgba(7, 57, 238, 0.805);
    color: white;
}