section {
    display: flex;
    flex-direction: column;
    width: 100vh;
    background-color: black;
    border-radius: 10px;
    color: white;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 5px;
}