* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(41, 40, 40);
}

.app {
    background-color: black;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

.form-div {
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.25rem;
}