* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;


}



header {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80vh;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  border-radius: 10px;
  font-size: 2rem;
  overflow: auto;
}

.container p {
  margin: 10px;
}

button {
  color: white;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

footer {

  padding: 20px;
}